# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3
/static/CACHE/
media/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Virtual env
venv/
env/
.env

# Резервные копии (генерируются автоматически)
backups/
