<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка CSRF</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="auth-container">
        <h2>Ошибка CSRF</h2>
        <p>Произошла ошибка проверки CSRF: {{ reason }}</p>
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите здесь</a></p>
    </div>
</body>
</html>