{% extends "base.html" %}
{% block title %}Информация о цене на услугу{% endblock %}
{% block content %}
    <h1>Информация о цене на услугу</h1>
    <p><strong>Марка:</strong> {{ service_price.car_make.name }}</p>
    <p><strong>Модель:</strong> {{ service_price.car_model.name }}</p>
    <p><strong>Услуга:</strong> {{ service_price.service.name }}</p>
    <p><strong>Цена:</strong> {{ service_price.price }} руб.</p>
    <a href="{{ cancel_url }}" class="btn">Вернуться к списку</a>
    <a href="{% url 'price_update' service_price.id %}" class="btn">Изменить</a>
    <a href="{% url 'price_delete' service_price.id %}" class="btn btn-danger">Удалить</a>
{% endblock %}